/* jQuery Growl
* Copyright 2013 Kevin Sylvestre
* 1.1.8
*/
#growls {
    z-index: 50000;
}

#growls.middle_left {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -100px;
}

#growls.middle_left .growl-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

#growls.bottom_left {
    position: fixed;
    bottom: 0;
    left: 0;
}

#growls.bottom_right {
    position: fixed;
    bottom: 0;
    right: 0;
}

#growls.top_left {
    top: 10px;
    left: 10px;
}

#growls.top_right {
    top: 10px;
    right: 10px;
}

#growls.bottom_right {
    bottom: 0px;
    right: 0px;
}

#growls.middle_right {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -100px;
}

#growls.middle_right .growl-close {
    position: absolute;
    top: 5px;
    left: 5px;
}

#growls.tl {
    position: fixed;
    top: 10px;
    left: 10px;
}

#growls.tr {
    position: fixed;
    top: 10px;
    right: 10px;
}

#growls.bl {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#growls.br {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#growls.tc {
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
}

#growls.bc {
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

#growls.tc .growl, #growls.bc .growl {
    margin-left: auto;
    margin-right: auto;
}

.growl {
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: relative;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.growl.growl-incoming {
    opacity: 0;
    filter: alpha(opacity=0);
}

.growl.growl-outgoing {
    opacity: 0;
    filter: alpha(opacity=0);
}

.growl .growl-close {
    cursor: pointer;
    float: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: helvetica, verdana, sans-serif;
}

.growl .growl-message {
    font-size: 14px;
    line-height: 18px;
}
